.agency_details_img{
    object-fit: cover;      
}


.agency{
    margin-bottom: 10px;
}

.agency__img{
    width: 100%;   
    height: 14.5em;
    object-fit: contain; 
}


.greyColor{
    background-color: #1E1E1E;
    color:whitesmoke;
}

.dangerColor{
    color: #CC0000;
}

.successColor{
    color: #388e3c;
}

/* .cardTextHighLight{
    font-size: 1em !important;
    font-weight: 400 !important;
} */

/* @media (min-width: 768px){
    .astronaut__img {
       
    }
}

@media (max-width: 991.98px){
    .astronaut__img{
        height: 30em;
    }
} */