/* .header{
    display: flex;
    background-color: black;
    min-height: 80px;
}

.header__logo{
    flex: 0.4;
    color: white;   
    margin: 30px; 
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
} */